.second-column {
}

.second-column ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.second-column ul {
    margin-right: 100px;
}

.second-column ul li a {
    font-size: 25px;
    color: #a6a3a3;
    padding: 8px 30px;
    border-radius: 40px;
    transition: .5s;
    margin-left: 20px;
}

.second-column ul li a:hover {
    background-color: #efefef;
}

.second-column ul li .active {
    color: rgb(67, 67, 214);
}

.second-column ul li .active:hover {
    background-color: white;
}